@import 'fonts.scss';
@import 'colors.scss';

@keyframes contact-anim {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes bg {
  50%{
    background-position: 100% 100%;
  }
}

@mixin text-color($color_1, $color_2) {
  background: -webkit-linear-gradient($color_1, $color_2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact {
  .header {
    margin: auto 20px;
    font-size: 2rem;
    @include text-color($whitesmoke, $slategrey);
    padding: 20px 0px;
  }
  .designcolor {
    display: flex;
    width: 410px;
    height: 122px;
    margin: auto;
    margin-bottom: 100px;
    padding: 0;
    background-image: linear-gradient(-225deg,#3498db 0,
      #9b59b6 29%,#e74c3c 67%,#f1c40f 100%);
    background-size: 500% 500%;
    border-radius: 10px;
    animation: bg 8s linear infinite;
  .divcontact {
    width: 360px;
    margin: auto;
    background: linear-gradient($bg_color2, $slategrey);
    border-radius: 10px;
    opacity: 0.85;
    padding: 10px 20px;
    
    animation-name: contact-anim;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease;
    transform: translateY(0px);
    transition: ease;
    .divlogocontact {
      display: flex;
      align-items: center;
      .h3 {
        margin: 10px;
        font-family: $noto_serif;
        font-size: 1.2rem;
        @include text-color($whitesmoke, $slategrey);
      }
    }
  }
  }
}