@import 'fonts.scss';
@import 'colors.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(90deg, $bg_color2, $bg_color);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

footer {
  display: flex;
  height: 100px;
  background: linear-gradient(30deg, $bg_color2, $black_color);
  box-shadow: 0px 0px 7px $slategrey;
}