@import 'fonts.scss';
@import 'colors.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #181818;
  overflow-x: hidden;
}

footer {
  display: flex;
  height: 100px;
  background: linear-gradient(30deg, #282b45, #202020);

  box-shadow: 0px 0px 7px slategrey;
}