@import 'fonts.scss';
@import 'colors.scss';

@keyframes grid-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.1;
  }
}

@keyframes titles {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes logo {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes photo {
  0% {
    transform: scale(0.0);
    opacity: 0;
    border: 1mm solid rgba(112,128,144, 0.8);
    box-shadow: 0px 0px 0px $slategrey;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
    border: 2mm solid rgba(112,128,144, 0.8);
    box-shadow: 0px 0px 0px $slategrey;
  }
  100% {
    transform: scale(1.0);
    border: 3mm ridge rgba(112,128,144, 0.8);
    box-shadow: 0px 0px 10px $slategrey;
    opacity: 1;
  }
}

@mixin text-color($color_1, $color_2) {
  background: -webkit-linear-gradient($color_1, $color_2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin params-anim($delay) {
  animation-name: titles;
  animation-delay: $delay;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transform: translateX(0px);
  transition: ease;
}

.mainSection {
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px;
  .grid {
    position: absolute;
    top: 200px;
    left: 0px;
    display: grid;
    grid-template-rows: repeat(4, 1fr); 
    grid-auto-columns: calc((180px - 3em) / 4);
    grid-auto-flow: column;
    grid-gap: 1em;
    height: 180px;
    opacity: 0.1;
    z-index: -1;

    animation-name: grid-anim;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
  }
  .griditem:nth-child(3n) {
    background-color: $aqua;
  }
  .griditem:nth-child(3n + 2) {
    background-color: $deepskyblue;
  }
  .container {
    font-family: $akayakanadaka_font;
    color: $lightgrey;
    @include params-anim(0s);
    .h3 {
      margin: auto;
      text-align: justify;
      font-size: 2rem;
      @include text-color($slategrey, $dimgrey);
    }
    .h1 {
      margin: auto;
      font-size: 3.8rem;
      @include text-color($lightgrey, $slategrey);
    } 
    .h2 {
      margin: auto;
      font-size: 2.8rem;
      @include text-color($slategrey, $dimgrey);
    }
    .paragraph {
      margin: auto;
      font-size: 2.6rem;
      @include text-color($slategrey, #333);
    }
    .divlogo {
      margin-top: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      animation-name: logo;
      animation-delay: 0s;
      animation-duration: 1s;
      animation-iteration-count: 1;
      transform: translateY(0px);
      transition: ease;
      .a {
        display: flex;
        align-items: center;
        background: linear-gradient(30deg, $slategrey, $bg_color2);
        border-radius: 50px;
        padding: 5px 12px;
        text-decoration: none;
        
        font-family: $acme_font;
        font-size: 1.1rem;
        font-weight: 600;
        color: $lightgrey;
        transform: rotadeY(0deg);
        transition: ease 0.2s;
        &:hover {
          background: linear-gradient(30deg, $slategrey, $bg_color2);
          box-shadow: 0px 0px 10px $deepskyblue;
          color: $deepskyblue;
          transform: rotate(-15deg);
        }
        &:active {
          box-shadow: 0px 0px 10px $aqua;
          color: $aqua;
        }
      }
    }
  }
  .myPhoto {
    display: flex;
    margin-right: 0px;
    width: 180px;
    height: auto;
    filter: opacity(100%);
    border: 3mm ridge rgba(112,128,144, 0.8);
    border-radius: 100%;
    box-shadow: 0px 0px 10px $slategrey;
    
    animation-name: photo;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transform: scale(1.0);
    transition: ease;
  }
  .photo {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 100%;
    object-fit: cover;
  }
}