@import 'fonts.scss';
@import 'colors.scss';

@keyframes titles {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes logo {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes photo {
  0% {
    transform: scale(0.0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.0);
    opacity: 1;
  }
}

@mixin text-color($color_1, $color_2) {
  background: -webkit-linear-gradient($color_1, $color_2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin params-anim($delay) {
  animation-name: titles;
  animation-delay: $delay;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transform: translateX(0px);
  transition: ease;
}

.mainSection {
  margin: 100px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px;
  .container {
    font-family: $akayakanadaka_font;
    color: #ccc;
    @include params-anim(0s);
    .h3 {
      margin: auto;
      text-align: justify;
      font-size: 2rem;
      @include text-color($slategrey, $dimgrey);
    }
    .h1 {
      margin: auto;
      font-size: 3.8rem;
      @include text-color(#ccc, $slategrey);
    } 
    .h2 {
      margin: auto;
      font-size: 2.8rem;
      @include text-color($slategrey, $dimgrey);
    }
    .paragraph {
      margin: auto;
      font-size: 2.6rem;
      @include text-color($slategrey, #333);
    }
    .divlogo {
      margin-top: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      animation-name: logo;
      animation-delay: 0s;
      animation-duration: 1s;
      animation-iteration-count: 1;
      transform: translateY(0px);
      transition: ease;
      .a {
        display: flex;
        align-items: center;
        background: linear-gradient(30deg, $slategrey, $bg_color2);
        border-radius: 50px;
        padding: 5px 12px;
        text-decoration: none;
        
        font-family: $acme_font;
        font-size: 1.1rem;
        font-weight: 600;
        color: #ccc;
        transform: rotadeY(0deg);
        transition: ease 0.2s;
        &:hover {
          background: linear-gradient(30deg, $slategrey, $bg_color2);
          box-shadow: 0px 0px 10px gold;
          color: sandybrown;
          transform: rotate(-7deg);
        }
      }
    }
  }
  .myPhoto {
    margin-right: 100px;
    filter: opacity(100%);
    border: 3mm ridge rgba(112,128,144, 0.8);
    border-radius: 100%;
    box-shadow: 0px 0px 7px $slategrey;
    
    animation-name: photo;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transform: scale(1.0);
    transition: ease;
  }
  .photo {
    border-radius: 50%;
    object-fit: cover;
  }
}