@import 'fonts.scss';
@import 'colors.scss';

.mainSection {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0px;

  border: 1px solid purple;
  .header {
    color: whitesmoke;
    h3 {
      margin: auto;
      font-size: 2rem;
    }
    h2 {
      margin: auto;
      font-size: 3.8rem;
    }
  }
  .myPhoto {
    filter: opacity(100%);
  }
  .photo {
    border: 3mm ridge slategrey;
    border-radius: 50%;
    object-fit: cover;
  }
}