.sectionMainTitle {
  padding: 40px 20px;
}

.hr {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.sectionSkillsSection {
  padding: 20px 20px;
}

.sectionProjectsSection {
  padding: 20px 20px;
}

.sectionContactSection {
  padding: 20px 20px;
}