.sectionMainTitle {
	border: 1px solid whitesmoke;
}

.sectionSkillsSection {
	border: 1px solid orangered;
}

.sectionProjectsSection {
	border: 1px solid lightgreen;
}

.sectionContactSection {
	border: 1px solid yellow;
}