@import 'fonts.scss';
@import 'colors.scss';

@keyframes anim-skills {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@mixin text-color($color_1, $color_2) {
  background: -webkit-linear-gradient($color_1, $color_2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin params-anim($delay) {
  animation-name: anim-skills;
  animation-delay: $delay;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  transform: translateY(0px);
}

@mixin container-project() {
  width: 28%;
  background: linear-gradient(30deg, $slategrey, $bg_color2);
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0px 0px 3px grey;
  padding: 20px;
  .h2 {
    margin: auto;
    margin-bottom: 20px;
    @include text-color($lightgrey, $slategrey);
  }
  .divimg {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 7px;
    border: 1px solid $slategrey;
    filter: opacity(85%);
    .img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 7px;
    }
  }
  .spanlogo {
    margin-top: 20px;
    display: flex;
    background: $black_color;
    border: 1px solid $slategrey;
    box-shadow: 0px 0px 7px $slategrey;
    border-radius: 10px;
    padding: 10px 0px;
    .divlogo {
      display: flex;
      align-items: center;
      margin: 10px auto;
      background: $bg_color2;
      border-radius: 20px;
      box-shadow: 0px 0px 4px inset $slategrey;
      padding: 10px;
      .titlelogo {
        margin: auto 5px;
        border: none;
        padding: 0px;
      }
    }
  }
  .section {
    margin: 20px 0px;
    height: 240px;
    background: $black_color;
    border: 1px solid $slategrey;
    box-shadow: 0px 0px 7px $slategrey;
    border-radius: 7px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 0px 20px;
    .paragraph {
      text-align: justify;
      text-justify: inter-word;
      font-family: $noto_serif;
    }
    .ul {
      padding-bottom: 20px 0px;
      .li {
        list-style: circle outside;
        font-family: $noto_serif;
      }
    }
  }
  .spanlink {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: dodgerblue;
    .a {
      text-decoration: none;
      font-size: 1.2rem;
      color: $aqua;
      &:hover {
        cursor: pointer;
        color: $deepskyblue;
      }
      &:active {
        color: $whitesmoke;
      }
    }
  }
}

.project {
  color: $lightgrey;
  font-family: $akayakanadaka_font;
  .header {
    margin: auto 0px;
    font-size: 2rem;
    @include text-color($lightgrey, $slategrey);
  }
  .divproject {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include params-anim(0s);
    .subdivproject {
      @include container-project();
    }
  }
  .seconddivproject {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include params-anim(0.2s);
    .subdivproject {
      @include container-project();
    }
    .spanlinkaxis {
      margin-left: 20px;
      color: dodgerblue;
      .a {
        text-decoration: none;
        font-size: 1.2rem;
        color: $aqua;
        &:hover {
          cursor: pointer;
          color: $deepskyblue;
        }
        &:active {
          color: $whitesmoke;
        }
      }
    }
  }
}