.project {
  color: whitesmoke;
  .header {
    margin: auto 0px;
    font-size: 2rem;
  }
  .divproject {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .subdivproject {
      width: 28%;
      background: linear-gradient(30deg, #282b45, #202020);
      border: none;
      outline: none;
      border-radius: 20px;
      box-shadow: 0px 0px 10px slategrey;
      padding: 20px;
      h2 {
        margin: auto;
        margin-bottom: 20px;
      }
      .divimg {
      
        border: 1px solid #fff;
      }
      .spanlogo {
        margin-top: 10px;
        display: flex;
        background: #202020;
        border-radius: 7px;
        .divlogo {
          display: flex;
          align-items: center;
          margin: 10px auto;
          background: #282b45;
          border-radius: 20px;
          padding: 5px;
          .titlelogo {
            margin: auto 5px;
            border: none;
            padding: 0px;
          }
        }
      }
      .paragraph {
        text-align: justify;
        text-justify: inter-word;
        background: #202020;
        border: 1px solid slategrey;
        border-radius: 7px;
        padding: 10px 10px;
      }
      .spanlink {
        display: flex;
        color: dodgerblue;
      }
      .a {
        margin-left: 10px;
        text-decoration: none;
        font-size: 1.0rem;
        color: aqua;
        &:hover {
          cursor: pointer;
          color: deepskyblue;
        }
      }
    }
  }
  .seconddivproject {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .subdivproject {
      width: 28%;
      background: linear-gradient(30deg, #282b45, #202020);
      border: none;
      outline: none;
      border-radius: 20px;
      box-shadow: 0px 0px 10px slategrey;
      padding: 20px;
      h2 {
        margin: auto;
        margin-bottom: 20px;
      }
      .spanlogo {
        margin-top: 10px;
        display: flex;
        background: #202020;
        border-radius: 7px;
        .divlogo {
          display: flex;
          align-items: center;
          margin: 10px auto;
          background: #282b45;
          border-radius: 20px;
          padding: 5px;
          .titlelogo {
            margin: auto 5px;
            border: none;
            padding: 0px;
          }
        }
      }
      .paragraph {
        text-align: justify;
        text-justify: inter-word;
        background: #202020;
        border: 1px solid slategrey;
        border-radius: 7px;
        padding: 10px 10px;
      }
      .spanlink {
        display: flex;
        color: dodgerblue;
      }
      .a {
        margin-left: 10px;
        text-decoration: none;
        font-size: 1.0rem;
        color: aqua;
        &:hover {
          cursor: pointer;
          color: deepskyblue;
        }
      }
    }
  }
}