.skills {
  color: whitesmoke;
  .header {
    margin: auto;
    font-size: 2rem;
  }
  .divskills {
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;

    border: 1px solid orange;

    padding: 20px 40px;
    .subdivskills {
      h2 {
        margin: auto;
        margin-bottom: 20px;
        font-size: 1.6rem;
      }
      .spanskills {
        margin: auto;
        display: flex;
        flex-direction: column;
        li {
          margin: 5px 0px;
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          .logo {
            margin-right: 10px;
          }
        }
      }
    }
  }
}